body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--light-bg);
  color: var(--light-text);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  height: 10vh;
}

p {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1rem 2rem 0rem;
  padding-top: 0.4rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon img {
  border-radius: 0.2rem;
  margin-right: 0.3rem;
  margin-bottom: 1rem;
}

.icon .kh {
  font-family: "Khmer", serif;
}

.icon .kh-1 {
  font-family: "Moul", serif;
  font-size: 1.5rem;
}

.btn-scheme {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 250px;
  padding: 1rem 1.3rem;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.facebook {
  background-color: #3b5998;
}

.telegram {
  background-color: #0077b5;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.social-button:hover {
  transform: translateY(-5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.social-button i {
  font-size: 1.4rem;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.clicked {
  animation: bounce 0.3s;
}

.bouncing-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.bouncing-text p {
  font-size: 1rem;
  font-weight: bold;
  animation: jump 1s ease-in-out infinite;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (min-width: 768px) {
  body {
    height: 100vh;
  }
}
